<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <title>CyberCityComics</title>
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 p-3 content">
                <div class="d-flex justify-content-end">
                    <form class="button-container" action="<%=rand%>">
                        <button class="btn btn-danger">Random</button>
                    </form>

                    <% var prev=parseInt(data.num)-1==0? data.num : parseInt(data.num) - 1 %>
                        <% var next=parseInt(data.num) + 1 %>

                            <form class="button-container" action="<%= prev %>">
                                <button class="btn btn-danger">Prev</button>
                            </form>
                            <form class="button-container" action="<%= next %>">
                                <button class="btn btn-danger">Next</button>
                            </form>

                </div>

                <div class="d-flex justify-content-center flex-column">
                    <h4>
                        Date: <%= month %>
                            <%= data.year %>
                    </h4>
                    <h4>Page Number: <%= data.num %>
                    </h4>

                    <h4>Page Viewed: <%=pageViewersCount%> time</h4>

                    <img class="img-fluid" src="<%= data.img %>" alt="">

                    <div id="title">
                    </div>

                    <div id="transcript">
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>

<script>
    if ("<%-transcript%>" !== "") {
        document.getElementById('transcript').innerHTML = "<%- transcript %>";
    }
    if ("<%-title%>" !== "") {
        document.getElementById('title').innerHTML = "<h4>Transcript :</h4> <%- title %>";
    }
</script>

</html>